.fa-star {
  position: relative;
  right: 11%;
  align-self: end;
  bottom: 10%;
  margin-bottom: 2%;

}
.fa-star:hover {
  cursor: pointer;
}
.container {
  max-width: 70%;
}

.mw-img {
  max-width: 70%;
}
.text-outline {
  -webkit-text-stroke: 1px white;
}
.ml-15 {
  margin-left: 15%;
}
.mr-15 {
  margin-right: 15%;
}
