<main role="main" class="inner cover mt-0 w-100">
  <h1 class="cover-heading">SAVE TIME & MONEY WITH <span>MyCar</span></h1>
<!--  <h3 class="cover-heading">or</h3>-->
  <div>
    <img src="/assets/Used-Cars-Feature2.jpg" class="w-100">
  </div>
  <div class="txt">
    <h3 class="cover-heading">Find the right car for you or sell your car from home</h3>
    <p class="lead mb-0">Our online showroom houses quality used cars with multiple photos and a full description</p>
    <p class="lead mb-0">so you can take a good look at our stock before coming to see it.</p>
    <div class="d-flex justify-content-center align-items-baseline">
    <a class="btn btn-sm btn-secondary mt-3 mb-3 mr-3" routerLink="/signup">Signup</a>
      <p> or </p>
    <a class="btn btn-sm btn-secondary mt-3 mb-3 ml-3" routerLink="/signin">Sign in</a>
    </div>
  </div>
</main>
