@import "https://use.fontawesome.com/releases/v5.14.0/css/all.css";

.far{
  position: relative;
  right: -15px;
}
.card-body {
  padding: 0.25rem;
  color: black;
}
.card-title {
  margin-bottom: 0;
}
.btn{
  border-radius: 1.25rem;
}
.card-img-top{
  width: -moz-available;
  max-height: 60%;
  height: 100%;
  object-fit: cover;
}
.details{
  position: absolute;
  bottom: 5%;
  left: 28%;
}
.icon-new {
  position: absolute;
  top: 0;
  height: 35px;
}
